# Source files
src/*.tab.c
src/*.yy.c
include/*.tab.h

# Object files
obj/*
*.o

# Configure files
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
bin/*
*.exe
*.out
*.app
